p {
    font-family: "Surfing Capital";
    color: white;
    font-size: 150px;
}

#title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: #1e1e1e;
}

/**
    Iphone XR, SE, 12 and >
 */
@media only screen and (max-width: 414px) {
    p {
        /*font-family: "Surfing Capital";*/
        /*color: white;*/
        font-size: 75px;
    }
}

