p {
    font-family: "Surfing Capital";
    color: white;
    font-size: 250px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#img-container {
    position: relative;
    text-align: center;
}

img {
    width: 100%;
}

body {
    background: #1e1e1e;
    overflow-x: hidden;
    min-height: 100vh;
}

/**
    Iphone XR, SE, 12 and >
 */
@media only screen and (max-width: 414px) {
    p {
        font-size: 75px;
        top: 10%;
    }
}

